refresh_token = "znGh6dwBC287cexDxPbqOlz48S4mt2Kz"
url = "https://cava-n-80-192.eng.vmware.com"
cloud_account = "sqa-nsxt-vc.sqa.local"
region = "Datacenter:datacenter-2"
datastore_name = "sqa-NSX-T-Compute-LUN1"
storage_policy_name = "VM Encryption Policy"
